
<div class="container-fluid main-container cal-shorten">
  <div class="row-fluid">
    <div class="span10">
      <div class="container-fluid content-wrapper" id="inner-cal">
        <div class="row-fluid">
          <div class="span10">
            <div class="hero-unit non-index" id="tabs"> 
              <h2>Swap</h2>
              <%= render "swap"%>
            </div>
          </div>
            <div>
              <h3>Tournaments</h3>
                <ul>
                  <li class="tourney-list"></li>
                </ul>
            <input type="hidden" class="hidden-form-list  "></input>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <ul class="breadcrumb">
            </ul>
          </div>
        </div>

        <div class="rowefluid">
          <div class="span10">
            <h4 class="title">Tournament Calendar</h4>
            <div class="squiggly-border"></div>
            <div id='calendar'></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type='text/css'>

body {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  }


</style>


