<%= form_for recuest, {url: user_recuest_path(current_user, recuest)} do |f|%>
<td>
<%= f.submit 'Accept', :value => 'Accept', :name=>"status" %>
</td>
<td>
<%= f.submit "Deny", :value=>"Deny", :name=>"status"%>
</td>
<td>
  <% if recuest.updateable?%> 
    <%= f.submit "Edit", :value=>"Edit", :name=>"status"%>
  <%end%>
</td>
<%end%>