// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inbox{
  margin-top:-65px;
}

h2.title{
  margin-top:15px;
  padding-top:5px;
  color:green;
}


.main-margin-adjust{
  margin-top: -20px;
}

.calendar{
  float:left;
  margin-right: 65px;
}

.recuest-field{
  float:left;
  display: inline;
  width: 25px;
}
