// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-margin-adjust{
  margin-top: -10px;
}
.new_recuest{
  float:left;
  display:inline;
}
.dashboard{
  background: grey;
  float: left;
  width: 25em;
  border-style: solid;
  border-color: tan;
  border-radius: 35px;
  margin-right: 65px;

}

.dashboard-info{
  margin-top: 30px;
  margin-left: 100px;
}
.minidash{
  position: relative;
  float: left;
  height: 4em;
  width: 8em;
  border-style: solid;
  border-color: tan;
  border-radius: 55px;
  color:red;
  margins: 10px;
  text-align: center;
}
span.title-name{
  margin-top: 15px;
  font-size:140%;
  color:black;
}
.active-recuests{
  display: inline;
}
.tabs{
  float:left;
  margin-right: 15px;
  display: block;
}
.active{
  margin-left: 25px;

}


.circleStats {
  display: none;
}

  
.circleStats {text-align: center; position: relative;}
.circleStatsItem {
 position: relative;
 background: rgba(255,255,255,0.7);

  
  
.circleStatsItem i {
 font-size: 30px; 
 position: absolute; 

}

.circleStatsItem.orange, .circleStatsItem.orange i {color:#FA5833; }
.circleStatsItem.lightorange, .circleStatsItem.lightorange i {color:#f4a70c; }
.circleStatsItem.blue, .circleStatsItem.blue i {color:#2FABE9; }
.circleStatsItem.green, .circleStatsItem.green i {color:#b9e672; }
.circleStatsItem.yellow, .circleStatsItem.yellow i {color:#e7e572; }
.circleStatsItem.pink, .circleStatsItem.pink i {color:#e42b75; }
   
.circleStatsItem input {
 cursor: default;
 box-shadow: none;

}
 
.circleStatsItem .plus {
 font-size: 16px; 
 position: absolute; 

}

.circleStatsItem .percent {
 font-size: 14px;
 position: absolute;

 
 
.circleStatsItem input:focus {
 outline: 0;
 outline: thin dotted 0;

}