// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dashboard{
  background: grey;
  float: left;
  width: 25em;
  border-style: solid;
  border-color: tan;
  border-radius: 35px;

}
.minidash{
  potision: relative;
  float: left;
  height: 4em;
  width: 10em;
  border-style: solid;
  border-color: tan;
  border-radius: 35px;
  color:red;
  margin:10px 10px 10px 10px;
  text-align: center;
}
span.title-name{
  margin-top: 15px;
  font-size:140%;
  color:black;
}