<h1>Listing swaps</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @swaps.each do |swap| %>
  <tr>
    <td><%= link_to 'Show', swap %></td>
    <td><%= link_to 'Edit', edit_swap_path(swap) %></td>
    <td><%= link_to 'Destroy', swap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Swap', new_swap_path %>
